* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4C9B24;
    color: #fff;
    padding: 0 30px;
    min-height: 7vh;
}

nav h3,
.nav-links {
    margin: 0;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background: #4C9B24;
    margin: 4px;
}

.footer {
    background: #4C9B24;
    color: #fff;
}
.footer-nav-item{
    list-style-type: none;
    padding-bottom: 10px; 
}
.footer-nav-link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: #214410;
}

.copyright a {
    text-transform: none;
    color: #fff;
}

.copyright p {
    color: #fff;
}


@media screen and (max-width: 992px) {
    body {
        overflow: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 93vh;
        top: 7vh;
        background: #4C9B24;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);
}



/*---Bootsrap Mobil Gutter Fix---*/
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}