@import url('https://fonts.googleapis.com/css2?family=Oi&family=Open+Sans+Condensed:ital,wght@0,700;1,300&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* General */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #a3d1a3;
    color: #3c3a3a;
    padding: 0 30px;
    min-height: 7vh;
}

.logo img {
    width: 30px;
    margin-right: 16px;
    cursor: pointer;
}

nav h3,
.nav-links {
    margin: 0;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.nav-links li {
    list-style: none;
}

.nav-links a,
.logo a {
    text-decoration: none;
    color: #3c3a3a;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background: #3c3a3a;
    margin: 4px;
}

#back-to-top-btn {
    background-image: url("../images/clover.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    z-index: 3;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
    color: #14290a;  
}

.fixed-bg-text {
    padding-top: 250px;
}

.fixed-bg-text h1 {
    font-family: 'Oi', cursive;
    letter-spacing: 5px;
}

.fixed-bg-text h2 {
    padding-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

#fixed-background {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 100vh;
    padding: 80px 0;
}

#fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#fixed {
    background-image: url("../images/stpatrick\'s-day-drinks.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

#fixed:before {
    content: "";
    background: rgba(0,0,0,.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;  
}

.hero-text {
    padding: 100px 0 100px 0;
}

.hero-text-header p {
    color: #14290a;
}

.hero-text-header h1 {
    color: #14290a;
}

/* Bootsrap Mobil Gutter Fix */
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.about {
    width: 100%;
    transition: 0.5s;
    background: linear-gradient(-30deg, #fde1bc 50%, #0080005c 50%);
}

.about .about-heading {
    padding: 5px;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 500;
    color: #3c3a3a;
}

.heading span {
    font-weight: 700;
    font-size: 1.6em;
    color: #e89356;;
}

.content-container {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-row {
    justify-content: center;
}

.content-container .content-box {
    border: 1px solid rgba(0,0,0,0.18);
    border-radius: 12px;
    margin: 10px 0;
    min-height: 250px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left-width: 20px;
    border-left-color: #fde1bc;
    background: #fafafa;
    box-shadow: 0 0 5px 5px rgb(0,0,0,0.1);
    transition: 0.5s;
}

.content-container .content-box:hover {
    transform: scale(1.1);
}

.content-container .content-box .title {
    border-bottom: 1px solid #3c3a3a;
    margin-bottom: 5px;
    padding-top: 5px;
}

.content-container .content-box .title h3, .gameTitles {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #3c3a3a;
    font-family: 'Poppins', sans-serif;
}

.content-container .content-box .text {
    padding-top: 5px;
}

.content-container .content-box .text p {
    font-family: 'Poppins', sans-serif;
}

.content-container .content-box .text p span {
    font-weight: 600;
    font-size: 1.2em;
}

/* Carousel Section */
#gallery {
    background: linear-gradient(150deg, #fde1bc 50%, #0080005c 50%);
}

#carouselExampleFade {
    margin: 0 auto;
    width: 70%;
}
    
.carousel-inner {
    max-height: 800px !important;
}

/* Game */

#game {
    background: linear-gradient(330deg, #fde1bc 50%, #0080005c 50%);
}

#currentWord, #currentWord:focus {
    background-color: rgb(255, 255, 255, 0.0);
    border: none;
    outline: none;
}



/* Footer */

.footer {
    background: #93C992;
    color: #3C3A3A;
}

.social-media ul a {
    border: 1px solid #3C3A3A;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 4px;
    text-decoration: none;
    color: #3C3A3A;
    font-size: 20px;
    transition: .3s ease-in;
}
.social-media li {
    list-style: none;
}

.social-media ul a:hover {
    color: #FCDAAF;
    transform: scale(1.2);
    border: 1px solid #FCDAAF;
}

.copyright a {
    text-transform: none;
    color: #3C3A3A;
}

.copyright p {
    color: #3C3A3A;
}

@media screen and (min-width: 1400px) {
    .about {
        width: 100%;
        transition: 0.5s;
        background: linear-gradient(-20deg, #fde1bc 50%, #0080005c 50%);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #gallery {
        background: linear-gradient(160deg, #fde1bc 50%, #0080005c 50%);
    }


    #game {
        background: linear-gradient(340deg, #fde1bc 50%, #0080005c 50%);
    }

}

@media screen and (max-width: 992px) {
    body,html {
        overflow-x: hidden;
        position: relative;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 93vh;
        top: 7vh;
        background: #a3d1a3;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .burger {
        display: block;
    }

    #carouselExampleFade {
        margin: 0 auto;
        width: 100%;
    }
}
    
.nav-active {
    transform: translateX(0);
}
