* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #92a892;
    color: #0d520d;
    padding: 0 30px;
    min-height: 7vh;
}

nav h3,
.nav-links {
    margin: 0;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #0d520d;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.burguer {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background: #0d520d;
    margin: 4px;
}


@media screen and (max-width: 992px) {
    
}